<html lang="en">
    <head>
        <title>Adicionar Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Adicionar Usuario</h1>
        <form action="/produtos/novoproduto/" method="POST">
            <label>Nome</label>
            <input type="text" name="nome" id="nome">
            <br>
            <label>E-mail</label>
            <input type="text" name="email" id="email">
            <br>
            <label>Senha</label>
            <input type="password" name="password" id="password">
            <br>
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>